<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/CV.css') }}">
    <title>assignment8</title>

</head>
<body>
{% block header %}
{% set page_name='header' %}
{% include('header.html') %}
{% if writer %}
    <h3 class="text">The writer of this page is : {{ writer }} </h3>
{% else %}
    <h3>Foo wrote this page</h3>
{% endif %}
{% endblock %}

{% block favorite %}
<h2>{{ writer }}'s top favorites songs are:</h2>
<ul>
    {% for song in songs %}
    <li> {{ song }} </li>
    {% endfor %}
</ul>
    <hr>
<h2>{{ writer }}'s top favorites hobbies are:</h2>
<ol>
    {% for hobby in hobbies %}
    <li> {{ hobby }} </li>
    {% endfor %}
</ol>
{% endblock %}

</body>
</html>